.contact-data {
  float: left;
  padding-left: 0;
}
#form-contact-us{
  margin-right: 2em;
}
.contact-data p {
  font-size: 1.5em;
  /*padding-top: 1em;*/
  /*padding-left: 1em;*/
}
.contact-data h4 {
  font-size: 2em;
  padding-top: 1em;
  /*padding-left: 1em;*/
  text-align: center;
}
p.info {
  text-align: center;
  font-size: 2em;
  line-height: 150%;
}
@media screen and (max-width:320px) {
  div.contact-data{
    margin-bottom: 2em;
  }
  p.info {
    text-align: center;
    font-size: 1.5em;
    line-height: 150%;
  }
}
