body {
  font: 16px/150% 'Didact Gothic', sans-serif;
  background-image: url('background.jpg');
}
/*====================================
               Navbar
======================================*/
.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 0;
}
/*====================================
               Logo
======================================*/
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  margin-top: 1em;
}

@media screen and (max-width:320px) {
  .logo img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*====================================
               Grid
======================================*/
.container {
  background-color: white;
  margin: 2em auto 2em auto;
}
div.row {
  padding: 0;
  margin-bottom: 3em;
}
.contact-data {
  float: left;
  padding-left: 0;
}
#form-contact-us{
  margin-right: 2em;
}
div.container {
  padding-left: 2em;
}
/*====================================
               Custom Styles
======================================*/
.image {

  height: 20em;
  width: auto;
  border-radius: 5px;
  padding: 1em;
}
/*.about {
  width: 25em;
  height: auto;
}*/
.btn-custom {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f664e", endColorstr="#18563b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2f664e), to(#18563b));
  background-image: -moz-linear-gradient(top, #2f664e, #18563b);
  background-image: -ms-linear-gradient(top, #2f664e, #18563b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f664e), color-stop(100%, #18563b));
  background-image: -webkit-linear-gradient(top, #2f664e, #18563b);
  background-image: -o-linear-gradient(top, #2f664e, #18563b);
  background-image: linear-gradient(#2f664e, #18563b);
  border-color: #18563b #18563b hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.tagline h4 {
  color: #18563b;
  font-size: 3em;
  text-align: center;
}
.tagline h2 {
  text-align: center;
  padding-top: 2em;
}
.float-right {
  float: right;
  margin: auto;
  padding-right: 1em;
  padding-left: 0;
  margin-right: 3em;
  margin-left: 0;
}
.float-left p,
.float-left dl,
.float-left dt {
  float: left;
  padding-left: 5em;
}
.contact-data p {
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 1em;
}
.contact-data h4 {
  font-size: 2em;
  padding-top: 1em;
  padding-left: 1.5em;
}
.row p {
  margin-left: 1em;
  margin-right: 3em;
}
/*====================================
               Typography
======================================*/
.row h2,
.row a {
  color: black;
}
/*====================================
               Footer
======================================*/
a.on-point-logo {
  color: white;
  float: left;
  margin-left: 5em;
  margin-right: 1em;
}
p.copy-right {
  float: left;
  margin-left: 10em;
}
.page-footer {
  color: white;
  padding-top: 1.5em;
  background-color: #18563b;
  min-height: 5em;
  min-width: 100%;
}
.footer-nav ul {
  float: right;
}
.footer-nav li {
  font-weight: bold;
	display: inline-block;
  margin-right: 2em;
  margin-bottom: 2em;
}
.footer-nav li:last-child {
	margin-right: 10em;
}
.footer-nav li a {
  color: white;
}
@media screen and (max-width:320px) {
  a.on-point-logo {
    color: white;
    margin: 0;
  }
  p.copy-right {
    margin-left: 2em;
  }
  .page-footer {
    min-height: 15em;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .footer-nav ul {
    margin-left: 1em;
  }
  .footer-nav li {
    font-weight:normal;
    margin-right: 1em;
    margin-top: 1em;
  }
  .footer-nav li:last-child {
      margin-right: 1.5em;
  }
}
@media screen and (max-width:320px) {
  .image {
    height: 15em;
    width: 15em;
    border-radius: 25px;
    /*padding: 1em;*/
    margin: auto;
  }
  div.row.about p {
    margin: 1em 1em 1em 1em;
    padding-left: 0;
  }
  div.contact-data{
    margin-bottom: 2em;
  }
}
